doctype html
html
  head
    title= title
    script(src="javascripts/Chart.js")
    script(src="javascripts/date.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  body
    block content
